@import "./style";

.invalid-feedback {
}

.s-login {
  background-color: #eee;
  margin: 30vh auto;
  width: max-content;

  .title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
  .d-login {
    @include flex-sb();
    margin-top: 20px;
    margin-bottom: 30px;
    .login-input {
      width: 400px;
      margin-left: 40px;

      .d-login-input {
        @include flex-sb();

        flex-wrap: wrap;
        label {
          width: 140px;
        }
        input {
          width: calc(100% - 140px);
        }

        &:first-child {
          margin-bottom: 20px;
        }

        .invalid-feedback {
          padding-left: 140px;
          padding-top: 2px;
        }
      }
    }
    .login-submit {
      width: 130px;
      margin-left: 40px;
      margin-right: 20px;
      .btn-login-submit {
        width: 100%;
        height: 56px;
      }
    }
  }
}
