@import "../style";
.modal {
  .modal-dialog {
    &.modal-600 {
      max-width: 600px;
    }
  }

  .modal-header {
    background-color: #333;
    color: #fff;
    font-weight: bold;
  }
  .modal-body {
    &.message {
      padding-top: 40px;
      padding-bottom: 40px;
      line-height: 30px;
      text-align: center;
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    &.double {
      justify-content: space-between;
    }

    .btn {
      min-width: 100px;
    }
  }
}
