@import "../style";

.pager {
  max-width: 230px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    font-size: 20px;
    @include hover();

    &.disabled {
      color: #aaa;
      cursor: auto;
    }
  }
  .current {
    font-size: 16px;
    font-weight: 900;
  }
}
